# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Galerías de prueba
src/components/GaticosYMonetes/galerias/test/
src/components/GaticosYMonetes/galerias/pokemon/
src/components/GaticosYMonetes/galerias/simpsons/
src/components/GaticosYMonetes/galerias/Screenshots/
src/components/GaticosYMonetes/galerias/bubucita/
src/components/GaticosYMonetes/galerias/invitados/
