#root {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .creditos {
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
    display: flex;
  }
  
  
  .ecualizador {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
  }
  
  .burbuja {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    opacity: 0.7;
  }
  
  .invitados {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
  .invitado {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .invitado img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .audio-player {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  