.croquetas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  cursor: pointer;
  z-index: 1;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  
  * {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
}

.croquetas-start-croqueta {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1500;
  cursor: pointer;
  pointer-events: auto;
  will-change: opacity, transform;
}

.croquetas-start-croqueta__button {
  width: 20vw;
  height: 20vw;
  min-width: 15vw;
  min-height: 15vw;
  max-width: 25vw;
  max-height: 25vw;
}
