.back-button {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  pointer-events: auto;
}

.back-button__croqueta-wrapper {
  position: absolute;
  top: 2dvh;
  left: 2vw;
  width: 15vw; // Tamaño fijo para que el transform-origin funcione correctamente
  height: 15vw;
  max-width: 15vw;
  max-height: 15vw;
  will-change: transform;
  transform-origin: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  
  // En portrait, duplicar el tamaño
  @media (orientation: portrait) {
    width: 30vw; // 15vw * 2
    height: 30vw; // 15vw * 2
    max-width: 30vw;
    max-height: 30vw;
  }
}

.back-button__croqueta {
  width: 12vw;
  height: 12vw;
  min-width: 10vw;
  min-height: 10vw;
  max-width: 15vw;
  max-height: 15vw;
  
  // En portrait, duplicar el tamaño
  @media (orientation: portrait) {
    width: 24vw; // 12vw * 2
    height: 24vw; // 12vw * 2
    min-width: 20vw; // 10vw * 2
    min-height: 20vw; // 10vw * 2
    max-width: 30vw; // 15vw * 2
    max-height: 30vw; // 15vw * 2
  }
}

