.ositoBox {
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: "Arial", sans-serif;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
  width: calc(var(--size-unit)* 3);
  height: calc(var(--size-unit)* 1.8);
  position: relative;
  transform: rotateY(180deg);
  margin-bottom: calc(var(--size-unit)* 0);
  margin-top: calc(var(--size-unit)* -.9);
  margin-left: calc(var(--size-unit)* -0.3);
  z-index: 2;
    .mask {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
  
    .bear {
      width: 100%;
      background: transparent;
      transform: translate(0, 100%);
    //   transition: transform 0.5s ease-out;
  
      &__swear {
        display: none;
        position: absolute;
        right: 105%;
        top: 10%;
        margin-top: calc(var(--size-unit)* -.3);
        background: #fff;
        font-weight: bolder;
        padding: calc(var(--size-unit)* .08);
        border-radius: calc(var(--size-unit)* .08);
        min-width: calc(var(--size-unit)* 1.5);
        text-align: center;
        transform: rotateY(180deg);
        color: black !important;
        box-shadow: var(--box-shadow);
        text-shadow: none;
        &:before {
          content: '';
          background: #fff;
          position: absolute;
          top: 90%;
          right: 70%;
          height: calc(var(--size-unit)* .22);
          width: calc(var(--size-unit)* .22);
          clip-path: polygon(0 100%, 100% 0, 50% 0);
          -webkit-clip-path: polygon(0 100%, 100% 0, 50% 0);
        //   transform: rotateY(180deg);
        }
      }
  
      &__wrap {
        width: calc(var(--size-unit)* 0.55);
        left: 62%;
        position: absolute;
        top: 80%;
        transform: translate(-15%, -50%) rotate(3deg) translate(0, -75%);
        background: transparent;
      }
  
      &__arm-wrap {
        background: transparent;
        position: absolute;
        height: calc(var(--size-unit)* 0.22);
        width: calc(var(--size-unit)* 0.675);
        z-index: 4;
        top: 80%;
        left: 49%;
        transform: translate(0, -50%) rotate(0deg);
      }
  
      &__arm {
        background: transparent;
        transform-origin: left;
        position: absolute;
        height: 100%;
        width: 100%;
        top: -30%;
        left: 40%;
      }
  
      &__paw {
        background: #784421;
        border-radius: 100%;
        position: absolute;
        height: calc(var(--size-unit)* 0.22);
        width: calc(var(--size-unit)* 0.25);
        z-index: 100;
        top: 40%;
        transform-origin: right;
        left: 75%;
        // transform: translate(0, -0%) rotate(0deg);
        opacity: 0;
      }
    }
  
    .checkbox {
      height: calc(var(--size-unit)* 0.65);
      position: absolute;
      width: calc(var(--size-unit)* 2.6);
      z-index: 5;
      bottom: 0;
      left: 47%;
      transform: translate(-50%, 0%);
      cursor: pointer;
      background-color: cadetblue;
      border-radius: calc(var(--size-unit)* 0.5);
      overflow: hidden;
  
        [type='checkbox'] {
            cursor: pointer;
            position: absolute;
            outline: 0;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0;
            z-index: 10;
            height: 100%;
            width: 100%;
            padding: 0;
            margin: 0;
        }
  
      &__bg {
        background-color: var(--gray);
        height: 100%;
        width: 100%;
      }
  
      &__text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: black;
        opacity: 0;
        transform: rotateY(180deg);

      }
  
      h3{
        width: 70%;
        }
        .yes-text{
          opacity: 1;
            
        }

      &__indicator {
        height: 93%;
        width: 23%;
        border-radius: 100%;
        position: absolute;
        top: 3%;
        left: .5%;
        transform: translateX(100%);
        display: flex;
        z-index: 10;
        background-color: var(--darkGrayTransparent);
        
        &:before {
          content: "";
          border-radius: 100%;
          height: 90%;
          width: 90%;
          background: white;
          border: 5px solid var(--darkGray);  
          mask-image: url("../../../assets/images/ko.png");
          position: absolute;
          top: 50%;
          left: -34%;
          transform: translate(44%, -50%) rotateY(180deg);
          box-sizing: border-box;
          mask-position: center;
          mask-size: 50%;
          mask-repeat: no-repeat;
        }
        &.indicator-checked{
            background-color: var(--orangeTransparent);
            
            &:before {
              border: 5px solid var(--orange);  
              mask-image: url("../../../assets/images/ok.png");
              
            }
        }
        h3{
            color: black;
            width: 100%;
            height: 100%;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: rotateY(180deg);
        }
      }
  
      &.checked {
        .checkbox{
            &__bg {
                background-color: var(--purpleTransparent);
            }
            &__indicator {
                transform: translateX(0%);
                transition: calc(var(--duration)* 0.2) ease 0s;
            }
        }
  
        
  
        .bear {
          transform: translate(0, 0);
        }
  
        .bear__arm-wrap {
          transform: translate(0, -50%) rotate(15deg);
        }
  
        .bear__paw {
          transform: translate(calc(var(--size-unit)* .594), calc(var(--size-unit)* -.11)) scaleX(0);
        }
      }
    }
  }
  