.item {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--green);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background-size: cover;
  background-position: center;
  transition: background-image calc(var(--size-unit)* 1) ease;
  left: 0;
  top: 0;
  
    &.inicio { background-image: url('./assets/images/paella.jpg'); }
    &.preboda { background-image: url('./assets/images/ceremonia.jpg'); }
    &.ceremonia { 
      background-image: url('./assets/images/ceremonia.jpg'); 
      background-position: calc(50% + 0dvh) -28dvh;
      background-size: auto 96dvh;
    }
    &.coctel { background-image: url('./assets/images/coctel.jpg'); }
    &.comida { background-image: url('./assets/images/comida.jpg'); }
    &.baile { background-image: url('./assets/images/baile.jpg'); }
    &.tiempo { 
      background-image: url('./assets/images/tercerTiempo.jpg'); 
      background-position: 50% 20%;
    }
    &.domingo { background-image: url('./assets/images/paella.jpg'); }

    &:first-of-type{
      opacity: 1;
    }

    .info {
      z-index: 1;
      background: var(--greenTransparent);
      background: linear-gradient(var(--greenSuperTransparent), var(--greenTransparent));
      width: 100%;
      min-height: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      border-radius: 0;
      position: absolute;
      padding-bottom: calc(var(--size-unit)* 0.8);
      bottom: 0;
      h2 {
        width: 100%;
        background: var(--purpleTransparent);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: calc(var(--size-unit)* 0.1);
        margin: 0;
      }
      p{
        text-align: center;
        width: 90%;
        margin: 0 auto;
        padding: calc(var(--size-unit)* 0.1);
      }

      .texts {
        padding: calc(var(--size-unit)* 0.1);
      }
    }
  }