/* Timeline.scss */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 100%;
  flex-direction: column;


  &.portrait {
    flex-direction: row;
  }

  &.landscape {

  }

}


.hidden {
  display: none;
}

.progress-bar {
  background: var(--color-alfombra);
  margin: auto;
  box-shadow: 0px 0px 6px #2f2f2f;
  z-index: 1;
  position: absolute;
  left: 6%;
  height: calc(100% - 0px);
  .slider {
    cursor: pointer;
    top: 0;
    padding-top: 15px;
    position: absolute;
    width: 94%;
    height: auto;
  }

  &.portrait {
    width: 23%;
    display: flex;
    justify-content: center;
  }

  &.landscape {
    width: 87%;
  }


}

.elements {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  &.portrait {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
  }

  &.landscape {
    flex-direction: row;
    align-items: center;
    margin-left: 0;
  }

  transition: background-image .5s ease; // Transición suave para el cambio de imagen de fondo

  background-size: cover;
  background-position: center;

  
  &.background-1 { background-image: url('./ceremonia.jpg'); }
  &.background-2 { 
    background-image: url('./ceremonia.jpg'); 
    background-position: calc(50% + 15vw) -24dvh;
    background-size: auto 124dvh;
  }
  &.background-3 { background-image: url('./coctel.jpg'); }
  &.background-4 { background-image: url('./comida.jpg'); }
  &.background-5 { background-image: url('./paella.jpg'); }
  &.background-6 { background-image: url('./tercerTiempo.jpg'); }
  &.background-7 { background-image: url('./paella.jpg'); }

  .item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #595959c4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    &:not(:first-of-type){
      opacity: 0;
    }
    .info{
      z-index: 1;
      background: rgb(255 255 255 / 25%);
      position: absolute;
      bottom: 0%;
      right: 0;
      width: 71%;
      height: 100%;
      border-radius: 15px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 0;
    }
  }
  
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 24px;
  color: #333;
}
