/* Timeline.scss */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 100%;
  flex-direction: column;
  background: var(--mainColor);
}

.hidden {
  display: none;
}

.progress-bar {
  background: var(--color-alfombra);
  margin: auto;
  box-shadow: 0px 0px 6px #2f2f2f;
  z-index: 1;
  position: absolute;
  bottom: 5dvh; /* Barra de progreso ahora abajo */
  height: 7dvh;
  width: calc(100% - 0px); /* Ancho completo */
  display: flex;
  justify-content: center;
  
  .slider {
    cursor: pointer;
    left: 0;
    position: absolute;
    height: 10dvh;
    margin-top: -2dvh;
    width: 8dvh;
    margin-left: -4dvh;
    border: 0px solid transparent;
  }
}

.elements {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  flex-direction: row; /* Cambiar a fila */
  align-items: flex-start;
  margin-top: 0;

  .item {
    position: absolute;
    width: 100%; /* Ajustado para que cada elemento sea responsivo */
    height: 100%;
    background-color: var(--mainColor);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease; /* Transición suave para el cambio de imagen de fondo */
  
    &.inicio { background-image: url('./assets/images/paella.jpg'); }
    &.preboda { background-image: url('./assets/images/ceremonia.jpg'); }
    &.ceremonia { 
      background-image: url('./assets/images/ceremonia.jpg'); 
      background-position: calc(50% + 7dvh) -27dvh;
      background-size: auto 124dvh;
    }
    &.coctel { background-image: url('./assets/images/coctel.jpg'); }
    &.comida { background-image: url('./assets/images/comida.jpg'); }
    &.baile { background-image: url('./assets/images/baile.jpg'); }
    &.tiempo { 
      background-image: url('./assets/images/tercerTiempo.jpg'); 
      background-position: 50% 20%;
    }
    &.domingo { background-image: url('./assets/images/paella.jpg'); }

    &:first-of-type{
      opacity: 1;
    }

    .info {
      z-index: 1;
      background: var(--mainColorTransparent);
      position: absolute;
      bottom: 0;
      right: 0;
      width: calc(100% - 0dvh);
      height: 100%;
      border-radius: 15px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 0;
      
      h2 {
        position: absolute;
        top: 76dvh;
        right: 3vw;
      }
      p{
        text-shadow: 1px 1px 30px black;
      }

      .texts {
        position: absolute;
        top: 0dvh;
        font-family: "evelins";
        color: white;
        width: 100%;
        height: 100dvh;
        overflow: hidden;
        background: linear-gradient(var(--mainColor), transparent);
        padding: 0 4vw;
        box-sizing: border-box;
      }
    }
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 24px;
  color: #333;
}
