/* Timeline.scss */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 100%;
  flex-direction: column;

  background: var(--mainColor);
  flex-direction: row;

}


.hidden {
  display: none;
}

.progress-bar {
  background: var(--color-alfombra);
  margin: auto;
  box-shadow: 0px 0px 6px #2f2f2f;
  z-index: 1;
  position: absolute;
  left: 5dvh;
  height: calc(100% - 0px);
  display: flex;
  justify-content: center;
  width: 7dvh;
  .slider {
    cursor: pointer;
    top: 0;
    position: absolute;
    width: 94%;
    height: auto;
    border: 0px solid transparent;
  }



}

.elements {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0;



  .item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: var(--mainColor);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;

    transition: background-image 1s ease; // Transición suave para el cambio de imagen de fondo

    background-size: cover;
    background-position: center;
  
    
    &.item1 { background-image: url('./assets/images/ceremonia.jpg'); }
    &.item2 { 
      background-image: url('./assets/images/ceremonia.jpg'); 
      background-position: calc(50% + 7dvh) -27dvh;
      background-size: auto 124dvh;
    }
    &.item3 { background-image: url('./assets/images/coctel.jpg'); }
    &.item4 { background-image: url('./assets/images/comida.jpg'); }
    &.item5 { background-image: url('./assets/images/paella.jpg'); }
    &.item6 { 
      background-image: url('./assets/images/tercerTiempo.jpg'); 
      background-position: 50% 20%;
    }
    &.item7 { background-image: url('./assets/images/paella.jpg'); }

    &:not(:first-of-type){
      opacity: 0;
    }
    .info{
      z-index: 1;
      background: var(--mainColorTransparent);
      position: absolute;
      bottom: 0%;
      right: 0;
      width: calc(100% - 12dvh);
      height: 100%;
      border-radius: 15px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 0;
      h2{
        position: absolute;
        bottom: -7vw;
        right: 3vw;
      }
      .texts{
        position: absolute;
        top: 13dvh;
        font-family: "evelins";
        color: white;
        width: 100%;
        max-height: 70dvh;
        overflow: hidden;
        background: rgba(0, 0, 0, 0.4509803922);
        padding: 0 4vw;
        box-sizing: border-box;
      }
    }
  }
  
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 24px;
  color: #333;
}

