.account-input-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    position: relative;

}

.account-input {
    text-align: center;
    width: 100%;
    padding: 0% 17% 0% 3%;
    border: 0px solid var(--orange);
    // border-radius: 4px;
    font-size: 14px;
    outline: none;
    background-color: var(--green);
    height: calc(var(--size-unit)* 0.5);
    font-size: calc(var(--size-unit)* 0.13);
    letter-spacing: 0;
    font-family: 'VCR';
    letter-spacing: 0;
    word-spacing: calc(var(--size-unit)* -0.04);
}

.copy-button {
    background-color: var(--darkPurple);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    height: calc(var(--size-unit)* 0.3);
    mask-image: url("../../../../../assets/images/copy.png");
    mask-size: auto 80%;
    mask-repeat: no-repeat;
    mask-position: 50%;
    width: 20%;
    position: absolute;
    right: 0;
    z-index: 10;
}

.copiado{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--darkPurple);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}