:root {
  --laser-color: #00ffff;
  --laser-opacity: 0.5;
  --perspective: 100vw;
  --square-rotate-x: 0deg;
  --square-rotate-y: 0deg;
}

* {
  box-sizing: border-box;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  perspective: var(--perspective);
  perspective-origin: 50% 50%;
  pointer-events: none;
  z-index: 1;
}

.line-diagonal-1,
.line-diagonal-2 {
  position: absolute;
  width: 0.5vw;
  min-width: 2px;
  background: var(--laser-color);
  opacity: 1;
  transform-style: preserve-3d;
  z-index: 10;
  box-shadow: 0 0 10px var(--laser-color);
}

.line-diagonal-1 {
  top: 0;
  left: 0;
  height: 141.42dvh;
  transform: rotate(45deg);
  transform-origin: top left;
}

.line-diagonal-2 {
  top: 0;
  right: 0;
  height: 141.42dvh;
  transform: rotate(-45deg);
  transform-origin: top right;
}

.square {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border: 0.2vw solid var(--laser-color);
  background: transparent;
  opacity: var(--laser-opacity);
  transform-origin: center center;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%) rotateX(var(--square-rotate-x)) rotateY(var(--square-rotate-y));
}

