:root{
    --circulo-qeq-size: calc(var(--size-unit)* .6);
}

.qeq {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    h2 {
        margin-bottom: 20px;
    }

    select {
        padding: 10px;
        font-size: 16px;
        margin-bottom: 20px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .invitados-container {
        display: flex;
        width: 100%;
        height: auto;
        position: relative;
        --circle-size: 100%;
        justify-items: center;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;

        .invitado {
            width: var(--circulo-qeq-size);
            height: var(--circulo-qeq-size);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            overflow: hidden;
            transition: opacity 0.5s ease; /* Transición suave para cuando se acierte un invitado */
            // position: absolute;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            /* El truco del "ladrillo" se logra utilizando la propiedad grid */
            &:nth-child(even) {
                margin-top: 20px;
                /* Desplazar algunos elementos en la segunda fila */
            }
        }
    }

    .name-circle {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        font-size: 18px;
        font-weight: bold;
        color: #000;
        text-align: center;
        background-color: white;
        border: 2px solid #ccc;
        cursor: pointer;
        transition: background-color 0.3s ease; /* Transición de fondo suave */
    }

    /* Estilo cuando el círculo de nombre tiene el fondo verde (correcto) */
    .name-circle.correct {
        background-color: green;
        color: white;
    }

    /* Estilo cuando el círculo de nombre tiene el fondo rojo (incorrecto) */
    .name-circle.incorrect {
        background-color: red;
        color: white;
    }

    /* Estilo cuando el invitado ha sido acertado (opacidad reducida) */
    .invitado.correct {
        opacity: 0.5; /* Disminuir opacidad cuando ya está acertado */
    }
}
