:root {
    --circulo-qeq-size: calc(var(--size-unit)* .5);
}

.qeq {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    box-sizing: border-box;
    position: relative;

    #bg {
        opacity: 1;
        position: absolute;
    }


    select {
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-family: var(--tipo);
        width: 90%;

        option {
            font-family: var(--tipo);
            width: 90%;
        }
    }

    .invitados-container {
        display: flex;
        width: 100%;
        height: calc(var(--size-unit) * 1.5);
        position: relative;
        justify-items: center;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: center;
        padding: 5%;
        box-sizing: border-box;

        .invitado {
            width: calc(var(--circulo-qeq-size) * 5);
            height: calc(var(--circulo-qeq-size) * 5);
            margin: -20dvh calc(var(--circulo-qeq-size) * -2.5) -6dvh;
            scale: .25;
            display: flex;
            justify-content: center;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            box-shadow: 0 0 15dvh var(--darkGray);
            border-radius: 50%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }

            /* El truco del "ladrillo" se logra utilizando la propiedad grid */
            &:nth-child(even) {
                margin-top: 20px;
                /* Desplazar algunos elementos en la segunda fila */
            }

            .invitado-info {
                position: absolute;
                width: auto;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;

                box-sizing: border-box;



                p {
                    font-size: calc(var(--size-unit) * 0.2) !important;
                    font-weight: bold;
                    position: absolute;
                    background: var(--purpleTransparent);
                    padding: calc(var(--size-unit) * .1);
                    border-radius: calc(var(--size-unit) * .2);
                    color: black;
                    opacity: 0;

                    // margin-top: calc(var(--size-unit) * -.5);
                    // margin-left: calc(var(--size-unit) * 1.5);
                    &:first-of-type {
                        rotate: 6deg;
                        top: calc(var(--size-unit) * -.25);
                        right: calc(var(--size-unit) * -1);
                        max-width: calc(var(--size-unit)* 10);
                        min-width: calc(var(--size-unit)* 1.5);
                    }

                    &:not(:first-of-type) {
                        width: calc(var(--size-unit) * 1);
                        // min-width: calc(var(--size-unit)* 1.5);
                        rotate: -10deg;
                        left: calc(var(--size-unit) * -2);
                        top: calc(var(--size-unit) * .5);
                    }
                }
            }

        }
    }

    .name-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(var(--size-unit)* .8);
        height: calc(var(--size-unit)* .8);
        margin: calc(var(--size-unit)*.1) 0 calc(var(--size-unit)*.1) 0;
        border-radius: 50%;
        font-size: 18px;
        font-weight: bold;
        color: #000;
        text-align: center;
        color: white;
        background-color: var(--purpleTransparent);
        // border: 2px solid #ccc;
        cursor: pointer;
        transition: background-color 1s ease;
        overflow: hidden;
        /* Transición de fondo suave */
        z-index: 2000;
        font-family: var(--tipo);
        font-size: calc(var(--size-unit) * 0.125);
        transition: .5s ease;
        border: 0 solid transparent;
        box-shadow: 0 0 0 transparent;

        &.hover {
            background-color: var(--orangeTransparent);
            color: white;
            scale: 1.5 !important;
        }

        &.inTouch {
            animation: shadowPulse 1s ease-in-out infinite;
        }

        &.correct {
            border: 0dvh solid green;
            color: transparent;
            box-shadow: 0 0 5dvh green;
        }

        &.incorrect {
            border: 0dvh solid red;
            box-shadow: 0 0 5dvh red;
            transition: background-color .5s ease;
            /* Transición de fondo suave */
            color: white;
        }

        span {
            background: var(--purpleTransparent);
            width: 100%;
        }
    }



    /* Estilo cuando el invitado ha sido acertado (opacidad reducida) */
    .invitado.correct {
        opacity: 0.5;
        /* Disminuir opacidad cuando ya está acertado */
    }

    .completed-message {
        position: absolute;
        bottom: 0;
        width: 100%;
        transform: scale(1) !important;
        padding: calc(var(--size-unit)* 1);
        text-align: center;
    }
}