:root {
    --circulo-qeq-size: calc(var(--size-unit)* .35);
    --invitado-scale: .35;
}

.qeq {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
    padding: 10% 10% 7%;
    border-radius: calc(var(--size-unit) * .1); 
    // overflow: hidden;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: .2;
        background: lightskyblue;
    }
    .mi-select {
        font-family: var(--tipo);
        font-size: calc(var(--size-unit) * 0.15);
        max-width: 80%;
        max-height: 50dvh;
        z-index: 4002;
        transition: 1s ease;
        div{
            color: var(--purpleTransparent) !important;
        }
    }

    

    #bg {
        opacity: 1;
        position: absolute;
    }


    .invitados-container {
        display: flex;
        width: 100%;
        height: 60%;
        position: relative;
        justify-items: center;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: center;
        box-sizing: border-box;
        position: relative;
        z-index: 1;
        .invitado {
            width: calc(var(--circulo-qeq-size) * 4.5);
            height: calc(var(--circulo-qeq-size) * 4.5);
            margin: calc(var(--circulo-qeq-size) * 3) calc(var(--circulo-qeq-size) * -2) calc(var(--circulo-qeq-size) * 3);
            scale: var(--invitado-scale);
            display: flex;
            justify-content: center;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            box-shadow: 0 0 15dvh var(--darkGray);
            border-radius: 50%;
            opacity: 0;
            position: relative;
            z-index: 1;

            &.has-visible-text {
                z-index: 9999;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }

            .invitado-info {
                position: absolute;
                width: auto;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                box-sizing: border-box;
                z-index: 2;
                pointer-events: none;

                p {
                    font-size: calc(var(--size-unit) * 0.15) !important;
                    font-weight: bold;
                    position: absolute;
                    background: var(--purpleTransparent);
                    padding: calc(var(--size-unit) * .08);
                    border-radius: calc(var(--size-unit) * .08);
                    color: black;
                    opacity: 0;
                    transform: translateY(10px);
                    transition: opacity 0.3s ease, transform 0.3s ease;
                    z-index: 3;
                    pointer-events: none;

                    &:first-of-type {
                        rotate: 6deg;
                        top: calc(var(--size-unit) * -.25);
                        right: calc(var(--size-unit) * -1);
                        max-width: calc(var(--size-unit)* 8);
                        min-width: calc(var(--size-unit)* 1.5);
                    }

                    &:not(:first-of-type) {
                        width: calc(var(--size-unit) * 1);
                        rotate: -10deg;
                        left: calc(var(--size-unit) * -2);
                        top: calc(var(--size-unit) * .5);
                    }

                    &.visible {
                        opacity: 1;
                        transform: translateY(0);
                        z-index: 4;
                        pointer-events: auto;
                    }
                }
            }

            /* El truco del "ladrillo" se logra utilizando la propiedad grid */
            &:nth-child(even) {
                margin-top: calc(var(--circulo-qeq-size) * 6);
                /* Desplazar algunos elementos en la segunda fila */
            }
        }
    }

    .name-circle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(var(--size-unit)* .8);
        height: calc(var(--size-unit)* .8);
        margin: calc(var(--size-unit)*.1) 0 calc(var(--size-unit)*.1) 0;
        border-radius: 50%;
        font-size: 18px;
        font-weight: bold;
        color: #000;
        text-align: center;
        color: white;
        background-color: var(--purpleTransparent);
        // border: 2px solid #ccc;
        cursor: pointer;
        transition: background-color 1s ease;
        overflow: hidden;
        /* Transición de fondo suave */
        // z-index: 2000;
        font-family: var(--tipo);
        font-size: calc(var(--size-unit) * 0.125);
        transition: .5s ease;
        border: 0 solid transparent;
        box-shadow: 0 0 0 transparent;

        &.hover {
            background-color: var(--orangeTransparent);
            color: white;
            scale: 1.5 !important;
        }

        &.inTouch {
            animation: shadowPulse 1s ease-in-out infinite;
        }

        &.correct {
            border: 0dvh solid green;
            color: transparent;
            box-shadow: 0 0 5dvh green;
        }

        &.incorrect {
            border: 0dvh solid red;
            box-shadow: 0 0 5dvh red;
            transition: background-color .5s ease;
            /* Transición de fondo suave */
            color: white;
        }

        span {
            background: var(--purpleTransparent);
            width: 100%;
            padding: 0 5%;
        }
    }



    /* Estilo cuando el invitado ha sido acertado (opacidad reducida) */
    .invitado.correct {
        opacity: 0.5;
        /* Disminuir opacidad cuando ya está acertado */
    }

    .completed-message {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        transform: scale(1) !important;
        padding: calc(var(--size-unit)* .2);
        text-align: center;
        background: var(--purpleTransparent);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-family: var(--tipo);
        font-size: calc(var(--size-unit) * 0.2);
        z-index: 1;
    }

    .Typewriter{
        position: absolute;
        width: 55%;
        right: 5%;
        bottom: 12%;
        text-align: right;
        font-weight: bold;
        span{
            color: var(--purpleTransparent);
        }
        
    }

    .qeq-selector {
        position: relative;
        width: 45dvh;
        margin: 0 0 2dvh 0;
        z-index: 9999;

        .mi-select {
            width: 100%;
            font-size: calc(var(--size-unit) * 0.15);
            font-family: var(--tipo);
            position: relative;
            z-index: 9999;
        }
    }
}

@keyframes slideUpFade {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    20% {
        opacity: 1;
        transform: translateY(0);
    }
    80% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}