.timeline {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  background: cadetblue;

  em {
    font-weight: bolder;
    text-transform: uppercase;
    width: fit-content;
    border-bottom: 2px solid white;
    padding: 0 5% 1%;
    margin: 0 auto 3%;
    font-size: calc(var(--size-unit)* 0.15);
  }

  .rfm-marquee {
    z-index: 0;
    padding: 0 8% 0 32%;
  }

  h3{
    margin-top: 5%;
  }
}

.hidden {
  display: none;
}

.progress-bar {
  background: var(--purpleTransparent);
  margin: auto;
  border: calc(var(--size-unit)* 0.02) solid var(--greenTransparent);
  border-radius: calc(var(--size-unit)* 0.05);
  z-index: 1;
  position: absolute;
  bottom: calc(var(--size-unit)* 0.35);
  height: calc(var(--size-unit)* 0.3);
  width: calc(90% - 0px);
  display: flex;
  justify-content: center;
  left: 5%;

  span {
    display: flex;
    justify-content: center;
    font-size: calc(var(--size-unit) * 0.15);
    // padding-left: calc(var(--size-unit) * 0.5);
    color: var(--green);
    font-family: "VCR";
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .slider {
    cursor: pointer;
    left: 0;
    transform: translateX(30%);
    position: absolute;
    height: calc(var(--size-unit) * 0.5);
    margin-top: calc(var(--size-unit) * -0.125);
    width: calc(var(--size-unit) * 0.5);
    margin-left: calc(var(--size-unit) * -0.25);
    border: calc(var(--size-unit) * 0.04) solid var(--purpleTransparent);
    background: var(--orange);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: calc(var(--size-unit) * -0) calc(var(--size-unit) * -0.0) calc(var(--size-unit) * .15) var(--purpleTransparent);

    &:not(:active) {
      animation: shadowPulse 10s ease-in-out infinite;
      /* Aplicar la animación */
    }

    &:active {
      box-shadow: "none";
    }


    img {
      height: 100%;
      width: auto;
      text-align: center;
      position: relative;
    }
  }

  
  
  
  
  


}

.elements {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 0;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 24px;
  color: #333;
}

/* Definir la animación */
@keyframes shadowPulse {
  0% {
    box-shadow: 0 0 1.5dvh rgba(224, 3, 3, 0.8),
                0 0 2dvh rgba(255, 140, 0, 0.8),
                0 0 2.5dvh rgba(255, 237, 0, 0.8),
                0 0 3dvh rgba(0, 128, 38, 0.8),
                0 0 3.5dvh rgba(0, 77, 255, 0.8),
                0 0 4dvh rgba(117, 7, 135, 0.8);
  }

  20% {
    box-shadow: 0 0 1.5dvh rgba(255, 140, 0, 0.8),
                0 0 2dvh rgba(255, 237, 0, 0.8),
                0 0 2.5dvh rgba(0, 128, 38, 0.8),
                0 0 3dvh rgba(0, 77, 255, 0.8),
                0 0 3.5dvh rgba(117, 7, 135, 0.8),
                0 0 4dvh rgba(224, 3, 3, 0.8);
  }

  40% {
    box-shadow: 0 0 1.5dvh rgba(255, 237, 0, 0.8),
                0 0 2dvh rgba(0, 128, 38, 0.8),
                0 0 2.5dvh rgba(0, 77, 255, 0.8),
                0 0 3dvh rgba(117, 7, 135, 0.8),
                0 0 3.5dvh rgba(224, 3, 3, 0.8),
                0 0 4dvh rgba(255, 140, 0, 0.8);
  }

  60% {
    box-shadow: 0 0 1.5dvh rgba(0, 128, 38, 0.8),
                0 0 2dvh rgba(0, 77, 255, 0.8),
                0 0 2.5dvh rgba(117, 7, 135, 0.8),
                0 0 3dvh rgba(224, 3, 3, 0.8),
                0 0 3.5dvh rgba(255, 140, 0, 0.8),
                0 0 4dvh rgba(255, 237, 0, 0.8);
  }

  80% {
    box-shadow: 0 0 1.5dvh rgba(0, 77, 255, 0.8),
                0 0 2dvh rgba(117, 7, 135, 0.8),
                0 0 2.5dvh rgba(224, 3, 3, 0.8),
                0 0 3dvh rgba(255, 140, 0, 0.8),
                0 0 3.5dvh rgba(255, 237, 0, 0.8),
                0 0 4dvh rgba(0, 128, 38, 0.8);
  }

  100% {
    box-shadow: 0 0 1.5dvh rgba(224, 3, 3, 0.8),
                0 0 2dvh rgba(255, 140, 0, 0.8),
                0 0 2.5dvh rgba(255, 237, 0, 0.8),
                0 0 3dvh rgba(0, 128, 38, 0.8),
                0 0 3.5dvh rgba(0, 77, 255, 0.8),
                0 0 4dvh rgba(117, 7, 135, 0.8);
  }
}