.asistencia {
    &.seccion {
        overflow: initial;
        background: cadetblue;
    }

    a {  
        margin: 0 auto;
        text-align: center;
    }

    img {
        width: 30%;
    }

    em {
        display: block;
    }

    form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .form-group {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &.horizontal {
            flex-direction: row;
            margin: calc(var(--size-unit) * 0) 0 calc(var(--size-unit) * 0.1);
            .label {
                margin: 0;
            }
        }

        &.quien {
            justify-content: space-between;
            .wrap {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
            label {
                margin: 0;
                width: 100%;
                display: flex;
            }
        }

        h2 {
            font-size: calc(var(--size-unit)* 0.22);
            line-height: calc(var(--size-unit)* 0.3);
            text-align: left;
        }

        h3 {
            font-size: calc(var(--size-unit) * 0.25);
        }

        label {
            color: var(--gray);
            display: block;
            font-weight: bold;
        }

        input, select, textarea, &::placeholder {

            color: var(--purpleTransparent);
            width: 100%;
            border: 1px solid cadetblue;
            box-sizing: border-box;
            padding: calc(var(--size-unit)* 0.05) calc(var(--size-unit)* 0.06);
            border-radius: calc(var(--size-unit)* 0.03);
            font-size: calc(var(--size-unit)* 0.15);
            line-height: calc(var(--size-unit)* 0.159);
            min-width: 60%;
            font-family: "arial";
            outline: none;
            margin: 0;
            &:focus {
                border-color: var(--purpleTransparent);
                outline: var(--purpleTransparent);
            }
        }

        textarea {
            resize: vertical;
            height: calc(var(--size-unit) * 0.75); 
            margin-top: calc(var(--size-unit) * 0.1);
            font-family: VCR;
        }
    }

    .eventos-checkboxes {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        height: calc(var(--size-unit) * .9);
        align-content: center;

        h2 {    
            width: 100%; 
            padding: 0 0 calc(var(--size-unit) * 0.05) 0;
        }

        p {
            display: flex;
            flex-wrap: wrap;
        }

        .checkbox-group {
            width: 46%;
            position: relative; // Añadido para el efecto de animación

            label {
                font-size: calc(var(--size-unit) * 0.8);
                display: flex;
                align-items: center;
                cursor: pointer;
                float: right;
                width: 100%;

                p {
                    width: 60%;
                    margin-left: calc(var(--size-unit) * 0.1);
                    height: calc(var(--size-unit) * 0.35);
                    em {
                        line-height: calc(var(--size-unit) * 0.1);
                        font-size: calc(var(--size-unit)* 0.125);
                    
                    }
                }

                h4 {
                    width: 54%;
                }
            }

            input[type="checkbox"] {
                width: calc(var(--size-unit) * 0.3);
                height: calc(var(--size-unit) * 0.3);
                cursor: pointer;
                accent-color: var(--purpleTransparent);
                min-width: auto;
                float: left;
            }

            input[type="checkbox"]:checked + p {
                animation: bubble 0.5s ease forwards; // Aplicar la animación
            }

            &.autobus{
                width: 100%;
                // margin: calc(var(--size-unit)* 0.05) 0;
                    label{
                        p{
                            width: 100%;
                            font-size: calc(var(--size-unit)* 0.13);
                            line-height: calc(var(--size-unit)* 0.13);
                            display: flex;
                            justify-content: flex-start;
                            text-align: left;
                            align-content: center;
                        }
                        
                    }
                
            }
        }

        @keyframes bubble {
            0% {
                transform: scale(1);
                opacity: 1;
            }
            50% {
                transform: scale(1.1);
                opacity: 0.8;
            }
            100% {
                transform: scale(1);
                opacity: 1;
            }
        }
    }
    input[type="text"] {
        margin-bottom: calc(var(--size-unit) * 0.1);
        font-family: VCR;
    }
    .switch {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;
        margin-bottom: calc(var(--size-unit) * 0.15);

        label {
            font-weight: normal;
            display: flex;
            align-items: center;

            em {
                font-size: calc(var(--size-unit) * 0.14);
            }
        }


        input[type="checkbox"] {
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
        }

        

        .slider {
            position: absolute;
            width: calc(var(--size-unit) * 1);
            height: calc(var(--size-unit) * 0.22);
            border-radius: calc(var(--size-unit) * 0.3);
            cursor: pointer;
            transition: 0.4s;
            background-color: var(--purpleTransparent);
            margin: 0 calc(var(--size-unit) * 0.085);
            bottom: calc(var(--size-unit) * 0.26);

            &:before {
                content: "";
                position: absolute;
                height: calc(var(--size-unit) * 0.15);
                width: calc(var(--size-unit) * 0.15);
                left: calc(var(--size-unit) * 0.03);
                bottom: calc(var(--size-unit) * .025);
                background-color: var(--orange);
                border: 2px solid var(--orangeTransparent);
                border-radius: 50%;
                transition: 0.4s;
            }
        }

        input:checked + .slider:before {
            transform: translateX(calc(var(--size-unit) * 0.77));
        }

        label {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
    }

    .btn-enviar,
    .btn-cancelar {
        background-color: var(--orangeTransparent);
        border: 5px solid var(--orange);
        color: var(--darkGray);
        padding: calc(var(--size-unit)* 0.01) calc(var(--size-unit)* 0.15);
        border-radius: calc(var(--size-unit)* 0.15);
        cursor: pointer;
        width: 40%;
        transition: calc(var(--duration)* 0.2) ease 0s;
        margin-top: calc(var(--size-unit)* -0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: calc(var(--size-unit)* -0.1);
        padding: 2% 0;
        &:hover {
            background-color: var(--orange);
        }

        & h2 {
            transition: opacity 0.1s ease;
        }

        &[disabled] h2 {
            opacity: 0.2;
        }
    }
    .btn-cancelar{
        background-color: var(--purple);
        background: var(--orangeTransparent);
        border-color: var(--darkGray);
        h2{
            // color: var(--green);
        }
    }
    .btn-enviar{
        background-color: var(--purple);
        background: var(--darkGray);
        border-color: var(--darkGray);
    }
    .disclaimer{
        opacity: 0;
        font-size: calc(var(--size-unit)* 0.22);
        line-height: calc(var(--size-unit)* 0.3);
        text-align: left;
        position: absolute;
        top: 0;
        left: 0;
        background: var(--purpleTransparent);
        height: 88%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 10%;
        z-index: -1;
        flex-wrap: wrap;
        p, button{
            opacity: 0;
            width: 100%;
            margin: 0;
            
        }
        .btn-enviar{
            background: cadetblue;
        }
        .imagen{
            width: 10dvh;
            height: 10dvh;
            // mask-image: url("../../../../assets/images/warning.png");
            // mask-size: 100%;
            // mask-repeat: no-repeat;
            // mask-position: 50%;
            // background: var(--greenSuperTransparent);
            background-image: url("../../../../assets/images/warning.png");
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: 50%;
            
        }
        p{
            width: 100%;
            h2{
                width: 100%;
                text-align: center;
            }
        }
    }
    .loading{
        top: 0;
        height: 100%;
        opacity: 0;
    }
}
