.asistencia {
    &.seccion {
        overflow: initial;
    }

    a {  
        margin: 0 auto;
        text-align: center;
    }

    img {
        width: 30%;
    }

    em {
        display: block;
    }

    form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .form-group {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &.horizontal {
            flex-direction: row;
            margin: calc(var(--size-unit)* 0.15) 0 calc(var(--size-unit)* .1);
            .label {
                margin: 0;
            }
        }

        &.quien {
            justify-content: space-between;
            .wrap{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
            label {
                margin: 0;
                width: 80%;
                display: flex;
            }
        }

        h2 {
            font-size: calc(var(--size-unit)* 0.22);
            line-height: calc(var(--size-unit)* 0.35);
            text-align: left;
        }

        h3 {
            font-size: calc(var(--size-unit) * 0.25);
        }

        label {
            color: var(--gray);
            display: block;
            font-weight: bold;
        }

        input, select, textarea, &::placeholder {
            color: var(--darkGreen);
            width: 100%;
            border: 1px solid var(--green);
            box-sizing: border-box;
            padding: calc(var(--size-unit) * 0.1) calc(var(--size-unit) * 0.1);
            border-radius: calc(var(--size-unit) * 0.03);
            font-size: calc(var(--size-unit) * 0.15);
            min-width: 60%;
            font-family: 'arial';

            &:focus {
                border-color: var(--darkGreen);
                outline: var(--darkGreen);
            }
        }

        textarea {
            resize: vertical;
            height: calc(var(--size-unit)* 0.75); 
        }
    }

    .eventos-checkboxes {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        height: calc(var(--size-unit)* .9);
        align-content: center;
        h2{    
            width: 100%; 
        }
        p{
            display: flex;
            flex-wrap: wrap;
        }
        .checkbox-group{
            width: 46%;
            label {
                font-size: calc(var(--size-unit)* 0.8);
                display: flex;
                align-items: center;
                cursor: pointer;
                float: right;
                width: 100%;
  
                p{
                    width: 60%;
                    margin-left: calc(var(--size-unit)* 0.1);
                    height: calc(var(--size-unit)* 0.35);
                    em{
                        line-height: calc(var(--size-unit)* 0.1);
                    }
                }
                h4{
                    width: 54%;
                }
            }

            input[type="checkbox"] {
                width: calc(var(--size-unit)* 0.3);
                height: calc(var(--size-unit)* 0.3);
                cursor: pointer;
                accent-color: var(--darkGreen);
                min-width: auto;
                float: left;
            }
        }
        
    }

    .switch {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;
        margin-top: calc(var(--size-unit)* 0);
        label {
            font-weight: normal;
            display: flex;
            align-items: center;

            em {
                font-size: calc(var(--size-unit) * 0.14);
            }
        }

        input[type="checkbox"] {
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            width: calc(var(--size-unit)* 0.625);
            height: calc(var(--size-unit)* 0.05);
            border-radius: calc(var(--size-unit)* 0.3);
            cursor: pointer;
            transition: 0.4s;
            background-color: var(--darkGreen);
            margin: 0 calc(var(--size-unit)* 0.15);
            bottom: calc(var(--size-unit)* 0.25);

            &:before {
                content: "";
                position: absolute;
                height: calc(var(--size-unit)* 0.15);
                width: calc(var(--size-unit)* 0.15);
                left: calc(var(--size-unit)* -0.05);
                bottom: calc(var(--size-unit)* -0.06);
                background-color: var(--orange);
                border: 2px solid var(--orangeTransparent);
                border-radius: 50%;
                transition: 0.4s;
            }
        }

        input:checked + .slider:before {
            transform: translateX(calc(var(--size-unit) * 0.6));
        }

        label {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
    }

    .btn-enviar {
        background-color: var(--orangeTransparent);
        border: 5px solid var(--orange);
        color: var(--darkGray);
        padding: calc(var(--size-unit)* 0.1) calc(var(--size-unit)* 0.15);
        border-radius: calc(var(--size-unit)* 0.15);
        cursor: pointer;
        width: auto;
        transition: calc(var(--duration)* 0.2) ease 0s;
        margin-top: calc(var(--size-unit)* -0.2);
        &:hover {
            background-color: var(--orange);
        }

        & h2 {
            transition: opacity 0.1s ease;
        }

        &[disabled] h2 {
            opacity: 0.2;
        }
    }
}
