.cartaInvitado {

    &.seccion {
        background: var(--darkGray);
        padding: 0;
    }

    &__contenido {
        position: absolute;
        opacity: 0;
        z-index: -1;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background: var(--purpleTransparent);
    }
}