.lugar{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    height: 100%;
    width: 100%;
    flex-direction: column;
    position: relative;

    a{  
        margin: 0 auto;
        text-align: center;
        
        &.imagen{
            width: 48%;
            z-index: 10;
            position: absolute;
            left: 9%;
            top: 32%;
            z-index: 11;
        }
        img{
            width: 100%; 
        }
    }
    .claim{
        background: var(--darkPurple);
        padding: calc(var(--size-unit)* 0.15);
        border-radius: calc(var(--size-unit)* 0.085);
        margin-top: calc(var(--size-unit)* 0.1);
        position: absolute;
        right: 8%;
        width: 50%;
        border-radius: 50vw;
        bottom: 6%;
        width: calc(var(--size-unit)* 1);
        height: calc(var(--size-unit)* 1);
        align-content: center;
        align-items: center;
        rotate: 7deg;
        &:before{
            mask-image: url("../../../../assets/images/bus.png");   
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: var(--orange);
            mask-repeat: no-repeat;
            mask-size: 61%;
            mask-position: 50%;
            z-index: 0;
            opacity: 25%;
        }
        a{
            position: relative;
            height: 100%;
            display: flex;
            align-content: center;
            align-items: center;
    


        }
        &.secundario{
            left: 55%;
            right: inherit;
            rotate: -5deg;
            bottom: 40%;
            z-index: 10;
            background: var(--orange) !important;
            width: calc(var(--size-unit)* 1);
            height: calc(var(--size-unit)* 1);
            color: white;
            font-weight: 600;
            &:before{
                mask-image: url("../../../../assets/images/casita.png");   
                background: black;
            }
        }
        
    }
}