.seccion.lugar{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    height: 100%;
    width: 100%;
    flex-direction: column;
    position: relative;
    padding: 0;
    overflow: unset;
    &:before{
        background-image: url("../../../../assets/images/villasdepomar.jpg");   
        background-size: auto 120%;
        background-position: 50% 98%;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
        opacity: .2;
        
    }

    .titulo{
        z-index: 1;
        background: var(--purpleTransparent);
        width: 100%;
        margin-top: 10%;
        padding: 4% 0;
    }
        
    .imagen,
    .claim{
        opacity: 0;
        border-radius: 50%;
        overflow: hidden;
        p, a, h2{
            position: absolute;
            top: 50%;
            width: 100%;
            background: var(--darkGray);
            padding: 5%;
            box-sizing: border-box;
            transform: translateY(-50%);
            
            // scale: 1.5;
        }
        p,a,h4{
            font-size: calc(var(--size-unit)*.15);
            line-height: calc(var(--size-unit)*.18);
        }
    }
    a{  
        margin: 0 auto;
        text-align: center;
        animation: shadowPulse 1s ease-in-out 0s infinite;
        &:nth-of-type(2){
            animation: shadowPulse 5s ease-in-out 1s infinite;
        }
        &.imagen{
            width: 40%;
            z-index: 10;
            position: absolute;
            left: 12%;
            top: 40%;
            z-index: 11;

            overflow: hidden;

        }
        img{
            width: 100%; 
        }
    }
    .claim{
        position: relative;
        background: var(--darkPurple);
        padding: 0;
        border-radius: calc(var(--size-unit)* 0.085);
        margin-top: calc(var(--size-unit)* 0.1);
        position: absolute;
        right: 8%;
        bottom: -7%;
        width: 50%;
        border-radius: 50vw;
        width: calc(var(--size-unit)* 1);
        height: calc(var(--size-unit)* 1);
        align-content: center;
        align-items: center;
        rotate: 7deg;
        z-index: 12;
        &:before{
            mask-image: url("../../../../assets/images/bus.png");   
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: var(--orange);
            mask-repeat: no-repeat;
            mask-size: 75%;
            mask-position: 50%;
            z-index: 0;
            opacity: 25%;
        }
        a{
            position: relative;
            height: 100%;
            display: flex;
            align-content: center;
            align-items: center;
    


        }
        &.bus{
            width: calc(var(--size-unit)* 1.5);
            height: calc(var(--size-unit)* 1.5);
            &:before{
                mask-image: unset;
                background-image: url("../../../../assets/images/bus.webp");   
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background-repeat: no-repeat;
                background-size: auto 100%;
                background-position: 30% 0%;
                z-index: 0;
                opacity: 25%;
            }
            p{
                margin-top: -0%;
            }
        }
        &.alojamiento{
            left: 52%;
            right: inherit;
            rotate: -5deg;
            bottom: 33%;
            z-index: 10;
            background: unset;
            // background: var(--orange) !important;
            width: calc(var(--size-unit)* 1.6);
            height: calc(var(--size-unit)* 1.6);
            color: white;
            font-weight: 600;
            &:before{
                opacity: 1;
                mask-image: unset;
                background-image: url("../../../../assets/images/casa.gif");   
                background-size: auto 130%;
                background-position: 70% 50%;
            }
            p{
                padding: 5% 10%;
            }
        }

        &.piscina{
            left: -2%;
            right: inherit;
            rotate: 15deg !important;
            top: 23%;
            z-index: 10;
            background: var(--darkGrayTransparent) !important;
            width: calc(var(--size-unit)* .7);
            height: calc(var(--size-unit)* .7);
            color: white;
            font-weight: 600;
            z-index: 13;

            &:before{
                background: url("../../../../assets/images/piscina.png");   
                background-size: 100%;
                background-position: 60%;
                mask-image: unset;
                background-repeat: no-repeat;
                mask-size: unset;
                opacity: 1;
            }
            p{
                // background: var(--greenTransparent);
            }
        }
        &.perretes{
            left: -5%;
            right: inherit;
            rotate: -15deg !important;
            bottom: -6%;
            z-index: 10;
            background: var(--darkGrayTransparent) !important;
            width: calc(var(--size-unit)* 1.2);
            height: calc(var(--size-unit)* 1.2);
            color: white;
            font-weight: 600;
            z-index: 13;

            &:before{
                background: url("../../../../assets/images/perretes.webp");   
                background-size: 150%;
                background-position: 60%;
                mask-image: unset;
                background-repeat: no-repeat;
                mask-size: unset;
                opacity: 1;
            }
        }
        
    }
}