.card{
    background-color: blue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    width: calc(var(--border-size)* 5);
    overflow: hidden;
    display: flex;
    height: auto;
    margin-top: calc(var(--border-size)* -0.7);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: auto;
    transition: 0.5s ease 0s;
    justify-content: center;
    align-items: center;
    &.invitacion{
        transition: calc(var(--duration)) ease 0s;
    }
    &:not(.invitacion){
        transition: calc(var(--duration)) ease 0s;
    }
    img{
        width: 100%;
        height: auto;
    }
    &.horarios{
        background: orange;
        width: calc(var(--border-size)* 1);
        height: calc(var(--border-size)* 1);
        z-index: 1;
        margin-top: 0;
        margin-left: 0;
        rotate: none;
    }
    &.asistencia{
        background: yellow;
        width: calc(var(--border-size)* 1.5);
                height: calc(var(--border-size)* 1);
                z-index: 1;
    }
    &.ubicaciones{
        background: lightblue;
        width: calc(var(--border-size)* 1.5);
        height: calc(var(--border-size)* 1);
        z-index: 2;
    }
    &.regalo{
        background: purple;
        width: calc(var(--border-size)* 1);
        height: calc(var(--border-size)* 1);
        z-index: 2;
        transform: rotateZ(51deg);
    }
}