.card {
  width: 300px;
  height: 400px;
  position: absolute;
  perspective: 1000px;
  /* Necesario para el giro 3D */
  transform-style: preserve-3d;
  /* Mantener el contexto 3D para las caras */
  transition: transform calc(var(--duration) * 1) ease;
  /* Suavizar el giro */
  cursor: pointer;
  border: calc(var(--size-unit)* 0.05) transparent;
  border-radius: calc(var(--size-unit)* 0.1);
  overflow: hidden;
  box-shadow: var(--box-shadow);
  &-front,
  &-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* Esconder la cara trasera */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 2;
    transition: 0s linear calc(var(--duration)*.12), // Este valor tiene que cambiarse proporcionalmente al valor que se está aplicando con esa variable
    // en Card.js > open -> flipped, unflipped
  }

  &-front {
    opacity: 1;
    backface-visibility: hidden;
    /* Frente visible por defecto */
    h2{
      width: 100%;
      background: var(--purple);
      padding: calc(var(--size-unit)* 0.15);
    }
  }

  &-back {
    transform: rotateY(180deg);
    visibility: hidden;
    opacity: 0;
    /* Voltear la parte trasera inicialmente */
  }

  /* Aplicar el giro al activar la clase flipped */
  &.flipped {
    transform: rotateY(180deg);
    box-shadow: var(--box-shadow-inverted);

  }

  img {
    width: 100%;
    height: auto;
  }


  .seccion{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: calc(var(--size-unit)* 0.1);
    background: var(--greenSuperTransparent);
    
    p,
    a{
      color: var(--gray);
    }
  }
}