:root{
    --duration: 1s;
    --box-shadow: 1vw 1vw 2vw #00000057;
    @media (orientation: portrait) {
        --border-size: 30vw;
    }

    @media (orientation: landscape) {
        --border-size: 10vw;
    }
}

.home{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.envelope {
    position: relative;
    width: calc(var(--border-size)* 3 - 1px);
    height: calc(var(--border-size)* 3);
    perspective: calc(var(--border-size)* 5);
    border: 0px solid black;
    background: darkgray;
    transition: calc(var(--duration) / 2) ease calc(var(--duration) / 4);
    box-shadow: var(--box-shadow);
    &-flap {
        position: absolute;
        top: 0;
        left: 50%;
        width: 33%;
        height: 0;
        border-left: var(--border-size) solid transparent;
        border-right: var(--border-size) solid transparent;
        border-top: calc(var(--border-size) + 1vw) solid var(--purple);
        transform-origin: top center;
        transform: translateX(-50%) rotateX(0deg);
        transition: calc(var(--duration)) ease calc(var(--duration)* 2);
        z-index: 3;
    }

    &-flap-bg {
        position: absolute;
        top: 0;
        left: 50%;
        width: 33%;
        height: 0;
        overflow: hidden;
        border-left: var(--border-size) solid lightgray;
        border-right: var(--border-size) solid lightgray;
        border-top: var(--border-size) solid transparent;
        transform-origin: top center;
        transform: translateX(-50%) rotateX(0deg);
        transition: calc(var(--duration)/2) ease;
        z-index: 2;
    }
    .nombre-invitado{
        position: absolute;
        bottom: 0;
        z-index: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        height: calc(var(--border-size)* 1.3);
        font-size: calc(var(--border-size)* 0.2);
        color: var(--green);
    }
    &-body {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 70%;
        background-color: #e0e0e0;
        z-index: 1;

        &:before {
            content: "";
            width: 100%;
            z-index: 5;
            height: 100%;
            background: lightgray;
            position: absolute;
            bottom: 0;
        }
    }

    &-content {
        position: absolute;
        bottom: 0; /* Cambiado para que esté en la parte inferior del sobre */
        left: 50%;
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(calc(var(--border-size) / -5)) translateX(calc(var(--border-size)*1.2 / -1)) rotateX(-10deg); /* Inicialmente desplazado y girado */
        transition: calc(var(--duration)*2) ease calc(var(--duration)/2);
        z-index: 2;
    }


    .wax-seal {
        position: absolute;
        top: 71%;
        left: 50%;
        width: calc(var(--border-size)/2);
        height: calc(var(--border-size)/2);
        background-color: var(--darkGreen);
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        transform: translate(-50%, -50%);
        cursor: pointer;
        z-index: 3;
        opacity: 1 !important;
        &:before{
            transition: calc(var(--duration)) ease calc(var(--duration)/2); 
            opacity: 0;
        }
    }

    &.open {
        transform: translateY(calc(var(--border-size) * 4)) rotateZ(-14deg) translateX(calc(var(--border-size)*0.7));
        transition: calc(var(--duration)) ease;
        .wax-seal {
            &:before{
                opacity: 1;
                transition: calc(var(--duration)) ease calc(var(--duration)); 
            }
        }
        .envelope{
            &-flap {
                transform: translateX(-50%) rotateX(180deg);
                z-index: 1;
                transition: calc(var(--duration)) ease 0s;
            }
            &-content {
                transform: translateY(calc(var(--border-size)* -5)) rotateZ(3deg) translateX(calc(var(--border-size)* -.6 )) rotateX(0deg) rotateZ(15deg);
                transition: opacity 0s ease calc(var(--duration)*.5), transform calc(var(--duration)) ease calc(var(--duration)*.5);
                z-index: 3;
                .card{   
                    transition: .5s ease 0s, margin calc(var(--duration)) ease calc(var(--duration));
                    &:hover:not(.invitacion) {
                        scale: 1.2;
                        transition: .5s ease 0s !important;
                    }
                    &.invitacion{
                        height: auto;
                        margin-top: calc(var(--border-size)* -1);
                        margin-left: calc(var(--border-size)* -.6);
                    }
                    &.horarios{
                        margin-top: calc(var(--border-size)* 5);
                        margin-left: calc(var(--border-size)* -2);
                        rotate: -16deg;
                    }
                    &.asistencia{
                        margin-top: calc(var(--border-size)* 2.6);
                        margin-left: calc(var(--border-size)* -1);
                        rotate: -1deg;
                    }
                    &.ubicaciones{
                        margin-top: calc(var(--border-size)* 4);
                        margin-left: calc(var(--border-size)* 2.3);
                        rotate: 4deg;
                    }
                    &.regalo{
                        margin-top: calc(var(--border-size)* 1.7);
                        margin-left: calc(var(--border-size)* 2);
                    }
                }
            }

        }
    }
}
