.sobre{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    margin-left: calc(var(--size-unit)* -1.5);
    top: 50%;
    margin-top: calc(var(--size-unit)* -1.5);
    opacity: 0;
    z-index: -1;
}

.envelope {
    position: relative;
    width: calc(var(--size-unit)* 3 - 1px);
    height: calc(var(--size-unit)* 3);
    perspective: calc(var(--size-unit)* 4);
    border: 0px solid black;
    background: darkgray;
    transition: calc(var(--duration-envelope)) ease calc(var(--duration-envelope) / 2);
    box-shadow: var(--box-shadow);
    &-flap {
        position: absolute;
        top: 0;
        left: 50%;
        width: 33.3333333333%;
        height: 0;
        border-left: var(--size-unit) solid transparent;
        border-right: var(--size-unit) solid transparent;
        border-top: calc(var(--size-unit)*1.2) solid var(--purple);
        transform-origin: top center;
        transform: translateX(-50%) rotateX(0deg);
        transition: calc(var(--duration-envelope)*3) ease calc(var(--duration-envelope)* 2.5);
        z-index: 3;
    }

    &-flap-bg {
        position: absolute;
        top: 0;
        left: 50%;
        width: calc(100% / 3);
        height: 0;
        overflow: hidden;
        border-left: var(--size-unit) solid lightgray;
        border-right: var(--size-unit) solid lightgray;
        border-top: var(--size-unit) solid transparent;
        transform-origin: top center;
        transform: translateX(-50%) rotateX(0deg);
        transition: calc(var(--duration-envelope)) ease;
        z-index: 2;
    }
    .nombre-invitado{
        position: absolute;
        bottom: 0;
        z-index: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        
        @media (orientation: portrait) {
            height: calc(var(--size-unit)* 1.3);
        }
        @media (orientation: landscape) {
            height: calc(var(--size-unit)* 1.3);
        }
        font-size: calc(var(--size-unit)* 0.2);
        color: var(--green);
    }
    &-body {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 70%;
        background-color: #e0e0e0;
        z-index: 1;

        &:before {
            content: "";
            width: 100%;
            z-index: 5;
            height: 100%;
            background: lightgray;
            position: absolute;
            bottom: 0;
        }
    }

    &-content {
        position: absolute;
        bottom: 0; /* Cambiado para que esté en la parte inferior del sobre */
        left: 50%;
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(calc(var(--size-unit) / -2)) translateX(calc(var(--size-unit)*1.2 / -1)) rotateX(-10deg); /* Inicialmente desplazado y girado */
        transition: calc(var(--duration-envelope)*2) ease-out calc(var(--duration-envelope)*1);
        z-index: 2;
        
        
        .card {
            transition: calc(var(--duration-envelope)* 2) ease 0s;
            z-index: 2;
            top: -50%;
            left: 0;
            &.invitacion{
                width: calc(var(--size-unit)* 2.5);
                height: calc(var(--size-unit)* 2.5);
                top: -12%;
            }
            
            &.horarios{
                width: calc(var(--size-unit)* 3);
                height: calc(var(--size-unit)* 5);
                rotate: -2deg !important;
            }
            &.asistencia{
                width: calc(var(--size-unit)* 3);
                height: calc(var(--size-unit)* 4.5);
            }
            &.ubicaciones{
                width: calc(var(--size-unit)* 3.2);
                height: calc(var(--size-unit)* 3);
            }
            &.regalo{
                width: calc(var(--size-unit)* 2.5);
                height: calc(var(--size-unit)* 2.9);
                transform: rotateZ(51deg);
            }
        }
    }


    .wax-seal {
        position: absolute;
        top: 71%;
        left: 50%;
        width: calc(var(--size-unit)/2);
        height: calc(var(--size-unit)/2);
        background-color: var(--green);
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        transform: translate(-50%, -50%);
        cursor: pointer;
        z-index: 3;
        opacity: 1 !important;
        &:before{
            transition: calc(var(--duration-envelope)) ease calc(var(--duration-envelope)/2); 
            opacity: 0;
        }
    }

    &.closed{
        .envelope{
            &-content{
                .card{
                    // transition: calc(var(--duration-envelope)* 0) ease 0s;
                    &:not(.invitacion){
                        scale: .4;
                    }  
                }
            }
        }
    }
    &:not(.closed){
        .envelope{
            &-content{
                .card{
                    &:not(.invitacion){
                        scale: .4 !important;
                    }  
                }
            }
        }
    }

    &.open {
        
        
        transition: calc(var(--duration-envelope)) ease calc(var(--duration-envelope)*2);
        @media (orientation: portrait) {
            transform: translateY(calc(var(--size-unit) * 4)) rotateZ(-14deg) translateX(calc(var(--size-unit)*0.7));
        }
        @media (orientation: landscape) {
            transform: translateY(calc(var(--size-unit) * 3.2)) rotateZ(-14deg) translateX(calc(var(--size-unit) * 2))
        }
        .wax-seal {
            &:before{
                opacity: 1;
                transition: calc(var(--duration-envelope)) ease calc(var(--duration-envelope)); 
            }
        }
        .envelope{
            &-flap {
                transform: translateX(-50%) rotateX(180deg);
                z-index: 1;
                // transition: calc(var(--duration-envelope)*1) ease;
                transition: calc(var(--duration-envelope)*3) ease calc(var(--duration-envelope)* 0);
            }
            &-content {
                transform: translateY(calc(var(--size-unit)* -5)) rotateZ(3deg) translateX(calc(var(--size-unit)* -.6 )) rotateX(0deg) rotateZ(15deg);
                transition: opacity 0s, transform calc(var(--duration-envelope)*3) ease calc(var(--duration-envelope)*1.2);
                z-index: 3;
                .card{   
                    opacity: 1;
                    transition: calc(var(--duration-card)*.5) ease 0s;
                                // margin calc(var(--duration-card)*1) ease-in-out calc(var(--duration-card)*.5);
 
                    &:not(.invitacion){
                        scale: .4 !important;
                    }
                    @media (orientation: landscape) {
                        margin-bottom: calc(var(--size-unit)* -1);
                        margin-right: calc(var(--size-unit)* 4);                
                    }


        

                    &:not(.flipped):not(.unflipped){ 
                        &:hover{
                            scale: 1.2;
                            // transition: calc(var(--duration-envelope)*.5) linear 0s !important;
                        }
                    }

                    &.flipped{
                        scale: 1 !important;
                    }
                    
                    &.flipped{
                        transition: calc(var(--duration-card)*1) linear 0s;
                        &-front,
                        &-back {
                            transition: 0s linear calc(var(--duration-card)*0.5), // Tiene que ser la mitad de la duración de la carta
                        }
                    }

                    &.unflipped{
                        transition: calc(var(--duration-card)*1) linear 0s;
                        &-front,
                        &-back {
                            transition: 0s linear calc(var(--duration-card)*0.5), // Tiene que ser la mitad de la duración de la carta
                        }
                    }

                    &.invitacion{
                        top: calc(var(--size-unit)* -1);
                        rotate: 0deg !important;
                        @media (orientation: landscape) {
                            left: calc(var(--size-unit)* 1.8);
                        }
                        @media (orientation: portrait) {
                            left: calc(var(--size-unit)* -0.2);
                        }
                        &:not(.flipped):not(.unflipped){
                            transition: calc(var(--duration-envelope)*1) ease-in calc(var(--duration-envelope)*2.6),
                            rotate calc(var(--duration-envelope)*.75) ease-in-out calc(var(--duration-envelope)*3.3);
                        }
                        &.flipped{
                            width: calc(var(--size-unit)* 3);
                            height: calc(var(--size-unit)* 3);
                            rotate: -4deg !important;
                            @media (orientation: landscape) {
                                left: calc(var(--size-unit)* 2);
                                top: calc(var(--size-unit)* 1);
                            }
                            @media (orientation: portrait) {
                                left: calc(var(--size-unit)* -.2);
                                top: calc(var(--size-unit)* 1);
                            }              
                        }
                    }


                    &.horarios{
                        top: calc(var(--size-unit)* 1.2);
                        rotate: -47deg !important;
                        @media (orientation: landscape) {
                            left: calc(var(--size-unit)* -1);
                        }
                        @media (orientation: portrait) {
                            left: calc(var(--size-unit)* -1);
                        }
                        &:not(.flipped):not(.unflipped){
                            transition: calc(var(--duration-envelope)*1) ease-in calc(var(--duration-envelope)*2.6),
                            rotate calc(var(--duration-envelope)*1) ease-in-out calc(var(--duration-envelope)*3),
                            scale 0s ease 0s;
                        }
                        
                        &.flipped{
                            rotate: -2deg !important;
                            @media (orientation: landscape) {
                                top: calc(var(--size-unit)* -0.7);
                                left: calc(var(--size-unit)* -0.4);
                            }
                            @media (orientation: portrait) {
                                top: calc(var(--size-unit)* -0.7);
                                left: calc(var(--size-unit)* -0.4);
                            }
                        }
                    }
                    &.asistencia{
                        @media (orientation: portrait) {
                            top: calc(var(--size-unit)* 0);
                            left: calc(var(--size-unit)* -1.5);
                            rotate: -28deg !important;
                        }

                        @media (orientation: landscape) {
                            top: calc(var(--size-unit)* 0);
                            left: calc(var(--size-unit)* -1.5);
                            rotate: -28deg !important;
                        }

                        // top: calc(var(--size-unit)* 2.5);
                        // left: calc(var(--size-unit)* -1.5);
                        // rotate: -20deg !important;

                        &:not(.flipped):not(.unflipped){
                            transition: calc(var(--duration-envelope)*1) linear calc(var(--duration-envelope)*2.3),
                            rotate calc(var(--duration-envelope)*1) ease-in-out calc(var(--duration-envelope)*3);
                        }
                        &.flipped{
                            @media (orientation: portrait) {
                                top: calc(var(--size-unit)* -0.5);
                                left: calc(var(--size-unit)* -0.4);
                                rotate: -5deg !important;
                            }
                            @media (orientation: landscape) {
                                top: calc(var(--size-unit)* -0.5);
                                left: calc(var(--size-unit)* -0.4);
                                rotate: -5deg !important;
                            }

                        }
                    }
                    &.ubicaciones{
                        top: calc(var(--size-unit)* 1.7);
                        left: calc(var(--size-unit)* 0.7);
                        rotate: 20deg !important;
                        &:not(.flipped):not(.unflipped){
                            transition: calc(var(--duration-envelope)*1) linear calc(var(--duration-envelope)*3),
                            rotate calc(var(--duration-envelope)*1) ease-in-out calc(var(--duration-envelope)*3.3);
                        }
                        &.flipped{
                            rotate: -5deg !important;
                            @media (orientation: portrait) {
                                top: calc(var(--size-unit)* .5);
                                left: calc(var(--size-unit)* -0.45);
                            }
                            @media (orientation: landscape) {
                                top: calc(var(--size-unit)* .5);
                                left: calc(var(--size-unit)* -0.45);
                            }
                        }
                    }
                    &.regalo{
                        
                        rotate: -40deg !important;
                        @media (orientation: landscape) {
                            left: calc(var(--size-unit)* 0.8);
                            top: calc(var(--size-unit)* 0.6);
                        }
                        @media (orientation: portrait) {
                            left: calc(var(--size-unit)* 0.8);
                            top: calc(var(--size-unit)* 0.6);
                        }
                        &:not(.flipped):not(.unflipped){
                            transition: calc(var(--duration-envelope)*1) linear calc(var(--duration-envelope)*2.25),
                            rotate calc(var(--duration-envelope)*1) ease-in-out calc(var(--duration-envelope)*2.7);
                        }
                        &.flipped{

                            rotate: -57deg !important;
                            @media (orientation: portrait) {
                                top: calc(var(--size-unit)* 0.7);
                                left: calc(var(--size-unit)* 0);
                            }
                            @media (orientation: landscape) {
                                top: calc(var(--size-unit)* 0.7);
                                left: calc(var(--size-unit)* 0);
                            }
                        }
                    }
                }
            }

        }
    }
}
