:root {

  --tipo: "evelins";


  

  --gray: #f1f1f1;
  --darkGray: #0000006e;
  --darkGrayTransparent: #535f4df7;
  --green: #9bc4be;
  --greenTransparent: #438284;
  --greenSuperTransparent: #a0ffed;
  --purpleTransparent: #73558c;
  --darkPurple: #73558c;
  --orange: #ffa600;
  --orangeTransparent: #ffa600d2;
  --color-sobre: white;
  --color-sobre-dentro: var(--gray);
  --duration: 1s;
  --duration-envelope: calc(var(--duration)*.75);
  --duration-card-seg: .6;
  --duration-card: calc(var(--duration)*var(--duration-card-seg));

  @media (orientation: portrait) {
    --size-unit: 27vw;
  }

  @media (orientation: landscape) {
    --size-unit: 17dvh;
  }
  --box-shadow: calc(var(--size-unit)*0.04) calc(var(--size-unit)* 0.04) calc(var(--size-unit)*0.08) var(--darkGray);
  --box-shadow-inverted: -calc(var(--size-unit)*0.06) -calc(var(--size-unit)*0.06) -calc(var(--size-unit)*0.12) var(--darkGray);

}

@font-face {
  font-family: 'PreloadImages';
  src: url('https://picsum.photos/50') format('jpeg'),
       url('https://picsum.photos/100') format('jpeg'),
       url('https://picsum.photos/150') format('jpeg'),
       url('https://picsum.photos/200') format('jpeg'),
       url('https://picsum.photos/250') format('jpeg');
}

@font-face {
  font-family: 'evelins';
  src:  url('../assets/fonts/evelins/EvelinsRegular.ttf') format('ttf'),
        url('../assets/fonts/evelins/EvelinsRegular.woff2') format('woff2'),
        url('../assets/fonts/evelins/EvelinsRegular.woff') format('woff');
}

@font-face {
  font-family: 'plante';
  src: url('../assets/fonts/Plante.ttf') format('ttf'),
}

@font-face {
  font-family: 'VCR';
  src: url('../assets/fonts/VCR/VCR_OSD_MONO-L2BMFKOD.eot'); /* IE9 Compatibility */
  src: url('../assets/fonts/VCR/VCR_OSD_MONO-L2BMFKOD.eot?#iefix') format('embedded-opentype'), 
       url('../assets/fonts/VCR/VCR_OSD_MONO-BACJ7AJA.woff2') format('woff2'),
       url('../assets/fonts/VCR/VCR_OSD_MONO-QFKAOLIE.woff') format('woff'),
       url('../assets/fonts/VCR/VCR_OSD_MONO-ID47EYT3.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


* {
  -webkit-tap-highlight-color: transparent; /* Oculta el color de resaltado en iOS */
  -webkit-touch-callout: none; /* Evita la aparición del menú contextual al hacer tap */
}

html, body{
  // background-color: cadetblue;
  transition: var(--duration);
}
.App {
  // background-color: cadetblue;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  justify-content: center;
}

body{
  // background: cadetblue;
  background: black;
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  &::before {
    content: '';
    font-family: 'PreloadImages';
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
  }
}

h2, h3, h4{
  font-size: calc(var(--size-unit)* 0.23);
  // color: var(--orange);
  color: white;
  // text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: var(--tipo), monospace;
  text-align: center;
  margin: 0;
  @media (orientation: portrait) {
    letter-spacing: calc(var(--size-unit)* -0.001);
  }

  @media (orientation: landscape) {
    letter-spacing: calc(var(--size-unit)* -0.0001);
  }
}
h2{
  font-size: calc(var(--size-unit)* 0.3);
  line-height: calc(var(--size-unit)* 0.3);
}

h4{
  font-size: calc(var(--size-unit)* 0.15);
  line-height: calc(var(--size-unit)* 0.15);
}
p, a, span{
  font-family: var(--tipo), monospace;
  font-size: calc(var(--size-unit)* 0.2);
  letter-spacing: -0.02px;
  line-height: calc(var(--size-unit)* 0.2);
  color: white;
  margin: 0;
  text-align: center;
  // text-shadow: 1px 1px 2px #000;
}
a{
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}
em{
  letter-spacing: -0.02px;
  line-height: calc(var(--size-unit)* 0.2);
  display: flex;
  justify-content: center;
  text-align: center;
}

.volumen{
  &:before{
    background: white !important;
  }
  &:after{
      content: "";
      position: absolute;
      width: 100vw;
      height: 15dvh;
      left: -2.5dvh;
      top: -3dvh;
      pointer-events: none;
      // background: lightblue;
  }
}

.back,
.play,
.stop{
  z-index: 1;
  position: absolute;
  right: 2dvh;
  top: 2dvh;
  width: 8dvh;
  height: 8dvh;
  border-radius: 50%;
  background: cadetblue;
  border: 2px solid cadetblue;
  cursor: pointer;
  // opacity: 0;
  &:before{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      mask-image: url("../assets/images/close.png");
      mask-position: 50%;
      mask-size: 50%;
      mask-repeat: no-repeat;
      background: var(--greenTransparent);
      // background: black;
      left: 0;
      top: 0;   
  }
}
.play{
  &:before{
    mask-image: url("../assets/images/stop.png");
    background: red !important;
  }
}
.stop{
  &:before{
    mask-image: url("../assets/images/play.png");
    
  }
}
.close{
  &:before{
    mask-image: url("../assets/images/close.png");
  }
}
.play,
.stop {
  left: calc(var(--size-unit) * 0.15);
  // background: var(--orangeTransparent) !important;
  // border: 2px solid var(--orange) !important;
}
.seccion ~ .back{
  right: calc(var(--size-unit)* .1);
  top: calc(var(--size-unit)* .1);
  width: calc(var(--size-unit)* .4);
  height: calc(var(--size-unit)* .4);
  // border: 2px solid var(--greenTransparent);
  background: var(--green);
  z-index: 2;
}

.seccion.timeline ~ .back{ 
  top: calc(var(--size-unit)* 0.1);
  // right: calc(var(--size-unit) * 0.24);
  &.play,
  &.stop{
    left: calc(var(--size-unit) * 0.1);
  }
} 

.seccion.lugar{ 
    & ~ .back:not(button){ 
    justify-content: space-between;
    height: 100%;
      
    }
  .claim, .imagen{
    border: calc(var(--size-unit)* 0.03) solid var(--orangeTransparent);
    border-radius: 50vw !important;
  }    
  }

  ::-webkit-scrollbar {
    width: 1dvh;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--darkGray);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--orange);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--orange);
}


.weedding{
  h2{
    // font-size: calc(var(--size-unit)* 0.25) !important;
  }
  .loading{
    h2{
      font-size: calc(var(--size-unit)* 0.15) !important;
      line-height: calc(var(--size-unit)* 0.15) !important;
      margin-bottom: 3%;
    }
  }
  p, a, span{
    font-size: calc(var(--size-unit)* 0.15) !important;
  }
  .card.invitacion .card-front .fecha{
    font-size: calc(var(--size-unit) * 0.4) !important;
    strong{
      font-size: calc(var(--size-unit) * 0.3) !important;
    }
  }
  .seccion.lugar .claim p{
    font-size: calc(var(--size-unit) * 0.12) !important;
    line-height: calc(var(--size-unit) * 0.13) !important;
    
  }
  .item{
    .info{
      .texts{
        span{
          width: 100%;
          display: flex;
          b{
            margin-right: 2%;
          }
          flex-wrap: nowrap;
          text-align: left;
        }
      }
    }
  }
  .asistencia .form-group{
    textarea, input{
      font-size: calc(var(--size-unit)* 0.15) !important;
      line-height: calc(var(--size-unit)* 0.15) !important;
    
    }
    .eventos-checkboxes{
      h2{
        font-size: calc(var(--size-unit)* 0.2) !important;
        line-height: calc(var(--size-unit)* 0.2) !important;
      }
    } 
  } 
}