:root {
  --grey: #f1f1f1;
  --green: #91a288;
  --greenTransparent: #91a28882;
  --darkGreen: #535f4d;
  --purple: #72396c;
  --purpleTransparent: #72396cb0;
}

@font-face {
  font-family: 'PreloadImages';
  src: url('https://picsum.photos/50') format('jpeg'),
       url('https://picsum.photos/100') format('jpeg'),
       url('https://picsum.photos/150') format('jpeg'),
       url('https://picsum.photos/200') format('jpeg'),
       url('https://picsum.photos/250') format('jpeg');
}

@font-face {
  font-family: 'evelins';
  src:  url('../assets/fonts/evelins/EvelinsRegular.ttf') format('ttf'),
        url('../assets/fonts/evelins/EvelinsRegular.woff2') format('woff2'),
        url('../assets/fonts/evelins/EvelinsRegular.woff') format('woff');
}

@font-face {
  font-family: 'plante';
  src: url('../assets/fonts/Plante.ttf') format('ttf'),
}

.App {
  background-color: var(--green);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  justify-content: center;
}

body::before {
  content: '';
  font-family: 'PreloadImages';
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

h2{
  font-size: 10dvh;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: "evelins";
}
p{
  font-size: 4dvh;
  letter-spacing: -0.02px;
  line-height: 4.5dvh;
  color: white;
}

.back{
  z-index: 1;
  position: absolute;
  right: 2dvh;
  top: 2dvh;
  width: 8dvh;
  height: 8dvh;
  border-radius: 50%;
  background: var(--darkGreen);
  
  border: 2px solid var(--darkGreen);
  background: var(--darkGreen);
  cursor: pointer;
      opacity: 0;
  &:before{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      mask-image: url("../assets/images/close.png");
      mask-position: 50%;
      mask-size: 50%;
      mask-repeat: no-repeat;
      background: white;
      left: 0;
      top: 0;
      
  }

}